* {
  background-color: #a4a696;
}
/* NAVIGATION */

.nav-links {
  font-family: "Futura", sans-serif;
  font-size: 15px;
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resume {
  border: 2px solid white;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.resume:hover {
  background-color: white;
  color: #a4a696;
  transition: all 0.5s;
}

.work {
  margin: 0 105px;
}

.contact {
  margin: 0 105px 0 0;
}

/* LANDING PAGE */

.main-page {
  font-family: "Futura", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 300px 0 0 0;
}

.landing-btn {
  color: white;
  font-family: "Futura", sans-serif;
  width: 350px;
  height: 70px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 100px 0 200px 135px;
}

.landing-btn:hover {
  background-color: white;
  color: #a4a696;
  transition: all 0.5s;
}

.landing-title {
  font-size: 150px;
  margin: 100px 0 -100px 125px;
}

.description {
  font-size: 40px;
  margin: 100px 0 -50px 135px;
}
.about-heading {
  font-family: "Futura", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 1300px 0 135px;
  color: white;
}

.about-title {
  font-size: 50px;
}
